<a href="https://colab.research.google.com/github/SebastianLlamas21/Optativa_Profesionalizante_JSLV/blob/main/Operaciones_basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##DataFrame de ejemplo

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Nombre': ['Ana', 'Juan', 'Maria', 'Carlos', 'Sofia'],
    'Edad': [25, 30, 22, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona'],
    'Puntuacion': [85, 92, 78, 95, 88]
})

print("DataFrame original: ")
print(df)

DataFrame original:
   Nombre  Edad     Ciudad  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   Maria    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

##Filtrado

In [2]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas mayores de 25 años:")
print(mayores_25)

Personas mayores de 25 años:
   Nombre  Edad     Ciudad  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

##Agrupacion y Agregacion

In [3]:
resultado = df[df['Edad'] > 25].groupby('Ciudad')['Puntuacion'].max()
print("Mácima puntuación por ciudad para personas mayores de 25 años: ")
print(resultado)
#

Mácima puntuación por ciudad para personas mayores de 25 años:
Ciudad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64