<a href="https://colab.research.google.com/github/SebastianLlamas21/Optativa_Profesionalizante_JSLV/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

##Creación de DataFrame's

In [7]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Juan', 'María', 'Carlos'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000, 55000, 65000]
})

print(df1)
print("\n\n", df2)

   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH


    ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

##Funcion Inner
La funcion une los valores de los dataframes solo cuando coincide el ID, en este caso

In [8]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("Funcion Inner\n", inner_merge)

Funcion Inner
    ID  Nombre Departamento  Salario
0   3   María    Marketing    50000
1   4  Carlos           RH    60000

## Fusion Outer

In [9]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("Funcion outer\n", outer_merge)

Funcion outer
    ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing  50000.0
3   4  Carlos           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

## Fusion left

In [12]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("Funcion left\n", left_merge)

Funcion left
    ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing  50000.0
3   4  Carlos           RH  60000.0

##Fusion Right

In [13]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("Funcion right\n", right_merge)

Funcion right
    ID  Nombre Departamento  Salario
0   3   María    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

##Concatenación

In [15]:
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Nombre': ['Sofia', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas']
})

concatenated_df = pd.concat([df1, df3])
print("Concatenacion\n", concatenated_df)

Concatenacion
    ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing      NaN
3   4  Carlos           RH      NaN
0   3     NaN          NaN  50000.0
1   4     NaN          NaN  60000.0
2   5     NaN          NaN  55000.0
3   6     NaN          NaN  65000.0